@font-face {
  font-family: '#{$icon-font-family}';
  src:
    url('#{$icon-font-path}/#{$icon-font-family}.ttf?9njddx') format('truetype'),
    url('#{$icon-font-path}/#{$icon-font-family}.woff?9njddx') format('woff'),
    url('#{$icon-font-path}/#{$icon-font-family}.svg?9njddx##{$icon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  //* use !important to prevent issues with browser extensions that change fonts
  font-family: '#{$icon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  //* Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gulp {
  &:before {
    content: $icon-gulp;
    color: #da4648;
  }
}
.icon-javascript {
  &:before {
    content: $icon-javascript;
    color: #f7df1e;
  }
}
.icon-java {
  &:before {
    content: $icon-java;
    color: #007396;
  }
}
.icon-vue-dot-js {
  &:before {
    content: $icon-vue-dot-js;
    color: #4fc08d;
  }
}
.icon-node-dot-js {
  &:before {
    content: $icon-node-dot-js;
    color: #393;
  }
}
.icon-document-file-java {
  &:before {
    content: $icon-document-file-java;
  }
}
.icon-document-file-java1 {
  &:before {
    content: $icon-document-file-java1;
  }
}
.icon-file-java {
  &:before {
    content: $icon-file-java;
  }
}
.icon-file-java1 {
  &:before {
    content: $icon-file-java1;
  }
}
.icon-money-bag {
  &:before {
    content: $icon-money-bag;
  }
}
.icon-dollar-money {
  &:before {
    content: $icon-dollar-money;
  }
}
.icon-dollars {
  &:before {
    content: $icon-dollars;
  }
}
.icon-google-plus-sq {
  &:before {
    content: $icon-google-plus-sq;
  }
}
.icon-google-plus-circle {
  &:before {
    content: $icon-google-plus-circle;
  }
}
.icon-google-drive {
  &:before {
    content: $icon-google-drive;
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-git-hub-circle {
  &:before {
    content: $icon-git-hub-circle;
  }
}
.icon-git-hub-square {
  &:before {
    content: $icon-git-hub-square;
  }
}
.icon-fire-flame {
  &:before {
    content: $icon-fire-flame;
  }
}
.icon-linked-in {
  &:before {
    content: $icon-linked-in;
  }
}
.icon-linkedin-sq {
  &:before {
    content: $icon-linkedin-sq;
  }
}
.icon-wikipedia1 {
  &:before {
    content: $icon-wikipedia1;
  }
}
.icon-youtube-lg {
  &:before {
    content: $icon-youtube-lg;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;
  }
}
.icon-jet-brains {
  &:before {
    content: $icon-jet-brains;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-safari1 {
  &:before {
    content: $icon-safari1;
  }
}
.icon-google-circle {
  &:before {
    content: $icon-google-circle;
  }
}
.icon-google-sq {
  &:before {
    content: $icon-google-sq;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}
.icon-git-hub {
  &:before {
    content: $icon-git-hub;
  }
}
.icon-wikipedia {
  &:before {
    content: $icon-wikipedia;
  }
}
.icon-hackernews {
  &:before {
    content: $icon-hackernews;
  }
}
.icon-reddit {
  &:before {
    content: $icon-reddit;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-soundcloud-square {
  &:before {
    content: $icon-soundcloud-square;
  }
}
.icon-soundcloud {
  &:before {
    content: $icon-soundcloud;
  }
}
.icon-windows {
  &:before {
    content: $icon-windows;
  }
}
.icon-android {
  &:before {
    content: $icon-android;
  }
}
.icon-finder {
  &:before {
    content: $icon-finder;
  }
}
.icon-appleinc {
  &:before {
    content: $icon-appleinc;
  }
}
.icon-tux {
  &:before {
    content: $icon-tux;
  }
}
.icon-yahoo2 {
  &:before {
    content: $icon-yahoo2;
  }
}
.icon-yahoo {
  &:before {
    content: $icon-yahoo;
  }
}
.icon-tumblr2 {
  &:before {
    content: $icon-tumblr2;
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr;
  }
}
.icon-opera {
  &:before {
    content: $icon-opera;
  }
}
.icon-safari {
  &:before {
    content: $icon-safari;
  }
}
.icon-edge {
  &:before {
    content: $icon-edge;
  }
}
.icon-IE {
  &:before {
    content: $icon-IE;
  }
}
.icon-firefox {
  &:before {
    content: $icon-firefox;
  }
}
.icon-chrome {
  &:before {
    content: $icon-chrome;
  }
}
.icon-paypal {
  &:before {
    content: $icon-paypal;
  }
}
.icon-npm {
  &:before {
    content: $icon-npm;
  }
}
.icon-onedrive {
  &:before {
    content: $icon-onedrive;
  }
}
.icon-dropbox {
  &:before {
    content: $icon-dropbox;
  }
}
.icon-steam2 {
  &:before {
    content: $icon-steam2;
  }
}
.icon-steam {
  &:before {
    content: $icon-steam;
  }
}
.icon-currency-dollar {
  &:before {
    content: $icon-currency-dollar;
  }
}
.icon-coin-dollar {
  &:before {
    content: $icon-coin-dollar;
  }
}
.icon-community {
  &:before {
    content: $icon-community;
  }
}
.icon-consultancy {
  &:before {
    content: $icon-consultancy;
  }
}
.icon-consulting {
  &:before {
    content: $icon-consulting;
  }
}
.icon-terminal {
  &:before {
    content: $icon-terminal;
  }
}
.icon-share-social {
  &:before {
    content: $icon-share-social;
  }
}
.icon-mail-contact {
  &:before {
    content: $icon-mail-contact;
  }
}
.icon-mail-circle {
  &:before {
    content: $icon-mail-circle;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-html-five-o {
  &:before {
    content: $icon-html-five-o;
  }
}
.icon-lock-secure {
  &:before {
    content: $icon-lock-secure;
  }
}
.icon-unlocked {
  &:before {
    content: $icon-unlocked;
  }
}
.icon-power-cord {
  &:before {
    content: $icon-power-cord;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-download-save {
  &:before {
    content: $icon-download-save;
  }
}
.icon-up-load {
  &:before {
    content: $icon-up-load;
  }
}
.icon-sphere-globe {
  &:before {
    content: $icon-sphere-globe;
  }
}
.icon-link-chain {
  &:before {
    content: $icon-link-chain;
  }
}
.icon-flag {
  &:before {
    content: $icon-flag;
  }
}
.icon-en-large {
  &:before {
    content: $icon-en-large;
  }
}
.icon-en-small {
  &:before {
    content: $icon-en-small;
  }
}
.icon-expand-collapse {
  &:before {
    content: $icon-expand-collapse;
  }
}
.icon-shrink-collapse {
  &:before {
    content: $icon-shrink-collapse;
  }
}
.icon-bubble-comment {
  &:before {
    content: $icon-bubble-comment;
  }
}
.icon-bubbles-comments-t {
  &:before {
    content: $icon-bubbles-comments-t;
  }
}
.icon-bubbles-comments-f {
  &:before {
    content: $icon-bubbles-comments-f;
  }
}
.icon-bubble-comment-l {
  &:before {
    content: $icon-bubble-comment-l;
  }
}
.icon-bubbles-comments-lb {
  &:before {
    content: $icon-bubbles-comments-lb;
  }
}
.icon-bubbles-comments-lbf {
  &:before {
    content: $icon-bubbles-comments-lbf;
  }
}
.icon-quotes-left {
  &:before {
    content: $icon-quotes-left;
  }
}
.icon-quotes-right {
  &:before {
    content: $icon-quotes-right;
  }
}
.icon-spinner-loading {
  &:before {
    content: $icon-spinner-loading;
  }
}
.icon-spinner-loading-2 {
  &:before {
    content: $icon-spinner-loading-2;
  }
}
.icon-spinner-loading-3 {
  &:before {
    content: $icon-spinner-loading-3;
  }
}
.icon-spinner-loading-4 {
  &:before {
    content: $icon-spinner-loading-4;
  }
}
.icon-spinner-loading-6 {
  &:before {
    content: $icon-spinner-loading-6;
  }
}
.icon-spinner-loading-7 {
  &:before {
    content: $icon-spinner-loading-7;
  }
}
.icon-spinner-loading-8 {
  &:before {
    content: $icon-spinner-loading-8;
  }
}
.icon-spinner-loading-9 {
  &:before {
    content: $icon-spinner-loading-9;
  }
}
.icon-spinner-loading-10 {
  &:before {
    content: $icon-spinner-loading-10;
  }
}
.icon-spinner-loading-11 {
  &:before {
    content: $icon-spinner-loading-11;
  }
}
.icon-folder-download {
  &:before {
    content: $icon-folder-download;
  }
}
.icon-folder-upload {
  &:before {
    content: $icon-folder-upload;
  }
}
.icon-folder-directory {
  &:before {
    content: $icon-folder-directory;
  }
}
.icon-folder-open-directory {
  &:before {
    content: $icon-folder-open-directory;
  }
}
.icon-folder-plus {
  &:before {
    content: $icon-folder-plus;
  }
}
.icon-folder-minus {
  &:before {
    content: $icon-folder-minus;
  }
}
.icon-enter-signin {
  &:before {
    content: $icon-enter-signin;
  }
}
.icon-exit-signout {
  &:before {
    content: $icon-exit-signout;
  }
}
.icon-tree-branches {
  &:before {
    content: $icon-tree-branches;
  }
}
.icon-tree1 {
  &:before {
    content: $icon-tree1;
  }
}
.icon-droplet {
  &:before {
    content: $icon-droplet;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-images {
  &:before {
    content: $icon-images;
  }
}
.icon-head-phones {
  &:before {
    content: $icon-head-phones;
  }
}
.icon-video {
  &:before {
    content: $icon-video;
  }
}
.icon-connection-wifi {
  &:before {
    content: $icon-connection-wifi;
  }
}
.icon-podcast {
  &:before {
    content: $icon-podcast;
  }
}
.icon-feed-wave {
  &:before {
    content: $icon-feed-wave;
  }
}
.icon-mic {
  &:before {
    content: $icon-mic;
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in;
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}
.icon-equalizer {
  &:before {
    content: $icon-equalizer;
  }
}
.icon-switch {
  &:before {
    content: $icon-switch;
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard;
  }
}
.icon-contrast {
  &:before {
    content: $icon-contrast;
  }
}
.icon-heart-like {
  &:before {
    content: $icon-heart-like;
  }
}
.icon-heart-broken {
  &:before {
    content: $icon-heart-broken;
  }
}
.icon-point-up {
  &:before {
    content: $icon-point-up;
  }
}
.icon-point-right {
  &:before {
    content: $icon-point-right;
  }
}
.icon-point-down {
  &:before {
    content: $icon-point-down;
  }
}
.icon-point-left {
  &:before {
    content: $icon-point-left;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-stop {
  &:before {
    content: $icon-stop;
  }
}
.icon-previous {
  &:before {
    content: $icon-previous;
  }
}
.icon-next {
  &:before {
    content: $icon-next;
  }
}
.icon-backward {
  &:before {
    content: $icon-backward;
  }
}
.icon-forward {
  &:before {
    content: $icon-forward;
  }
}
.icon-play-1 {
  &:before {
    content: $icon-play-1;
  }
}
.icon-pause-1 {
  &:before {
    content: $icon-pause-1;
  }
}
.icon-stop-1 {
  &:before {
    content: $icon-stop-1;
  }
}
.icon-backward-1 {
  &:before {
    content: $icon-backward-1;
  }
}
.icon-forward-1 {
  &:before {
    content: $icon-forward-1;
  }
}
.icon-first-1 {
  &:before {
    content: $icon-first-1;
  }
}
.icon-last-1 {
  &:before {
    content: $icon-last-1;
  }
}
.icon-previous-1 {
  &:before {
    content: $icon-previous-1;
  }
}
.icon-next-1 {
  &:before {
    content: $icon-next-1;
  }
}
.icon-eject-1 {
  &:before {
    content: $icon-eject-1;
  }
}
.icon-volume-high-1 {
  &:before {
    content: $icon-volume-high-1;
  }
}
.icon-volume-medium-1 {
  &:before {
    content: $icon-volume-medium-1;
  }
}
.icon-volume-low-1 {
  &:before {
    content: $icon-volume-low-1;
  }
}
.icon-volume-mute-2 {
  &:before {
    content: $icon-volume-mute-2;
  }
}
.icon-volume-mute-1 {
  &:before {
    content: $icon-volume-mute-1;
  }
}
.icon-volume-increase-1 {
  &:before {
    content: $icon-volume-increase-1;
  }
}
.icon-volume-decrease-1 {
  &:before {
    content: $icon-volume-decrease-1;
  }
}
.icon-loop-repeat {
  &:before {
    content: $icon-loop-repeat;
  }
}
.icon-repeat {
  &:before {
    content: $icon-repeat;
  }
}
.icon-infinite {
  &:before {
    content: $icon-infinite;
  }
}
.icon-shuffle-random {
  &:before {
    content: $icon-shuffle-random;
  }
}
.icon-paragraph-left {
  &:before {
    content: $icon-paragraph-left;
  }
}
.icon-paragraph-center {
  &:before {
    content: $icon-paragraph-center;
  }
}
.icon-paragraph-right {
  &:before {
    content: $icon-paragraph-right;
  }
}
.icon-paragraph-justify {
  &:before {
    content: $icon-paragraph-justify;
  }
}
.icon-indent-increase {
  &:before {
    content: $icon-indent-increase;
  }
}
.icon-indent-decrease {
  &:before {
    content: $icon-indent-decrease;
  }
}
.icon-amazon {
  &:before {
    content: $icon-amazon;
  }
}
.icon-html-five {
  &:before {
    content: $icon-html-five;
  }
}
.icon-rss {
  &:before {
    content: $icon-rss;
  }
}
.icon-rss-sq {
  &:before {
    content: $icon-rss-sq;
  }
}
.icon-file-word {
  &:before {
    content: $icon-file-word;
  }
}
.icon-file-excel {
  &:before {
    content: $icon-file-excel;
  }
}
.icon-libreoffice {
  &:before {
    content: $icon-libreoffice;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-bookmarks {
  &:before {
    content: $icon-bookmarks;
  }
}
.icon-tags-black {
  &:before {
    content: $icon-tags-black;
  }
}
.icon-tags {
  &:before {
    content: $icon-tags;
  }
}
.icon-price-tag {
  &:before {
    content: $icon-price-tag;
  }
}
.icon-price-tags {
  &:before {
    content: $icon-price-tags;
  }
}
.icon-forward-right {
  &:before {
    content: $icon-forward-right;
  }
}
.icon-forward-left {
  &:before {
    content: $icon-forward-left;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-user-profile {
  &:before {
    content: $icon-user-profile;
  }
}
.icon-users-group {
  &:before {
    content: $icon-users-group;
  }
}
.icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}
.icon-user-minus {
  &:before {
    content: $icon-user-minus;
  }
}
.icon-user-check {
  &:before {
    content: $icon-user-check;
  }
}
.icon-user-tie {
  &:before {
    content: $icon-user-tie;
  }
}
.icon-books-library {
  &:before {
    content: $icon-books-library;
  }
}
.icon-man {
  &:before {
    content: $icon-man;
  }
}
.icon-woman {
  &:before {
    content: $icon-woman;
  }
}
.icon-man-woman {
  &:before {
    content: $icon-man-woman;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-bird-house {
  &:before {
    content: $icon-bird-house;
  }
}
.icon-home-dark {
  &:before {
    content: $icon-home-dark;
  }
}
.icon-list-number {
  &:before {
    content: $icon-list-number;
  }
}
.icon-list-bullet {
  &:before {
    content: $icon-list-bullet;
  }
}
.icon-list-todo {
  &:before {
    content: $icon-list-todo;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-notification {
  &:before {
    content: $icon-notification;
  }
}
.icon-information {
  &:before {
    content: $icon-information;
  }
}
.icon-question-help {
  &:before {
    content: $icon-question-help;
  }
}
.icon-cancel-circle {
  &:before {
    content: $icon-cancel-circle;
  }
}
.icon-blocked {
  &:before {
    content: $icon-blocked;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}
.icon-check-mark-d {
  &:before {
    content: $icon-check-mark-d;
  }
}
.icon-check-mark {
  &:before {
    content: $icon-check-mark;
  }
}
.icon-spell-check {
  &:before {
    content: $icon-spell-check;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-phon {
  &:before {
    content: $icon-phon;
  }
}
.icon-phon-call {
  &:before {
    content: $icon-phon-call;
  }
}
.icon-cart-purchase {
  &:before {
    content: $icon-cart-purchase;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-bin-black {
  &:before {
    content: $icon-bin-black;
  }
}
.icon-bin-trashcan {
  &:before {
    content: $icon-bin-trashcan;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-cart-circle {
  &:before {
    content: $icon-cart-circle;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-compare {
  &:before {
    content: $icon-compare;
  }
}
.icon-arrow-select {
  &:before {
    content: $icon-arrow-select;
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;
  }
}
.icon-cross-middle {
  &:before {
    content: $icon-cross-middle;
  }
}
.icon-check-box {
  &:before {
    content: $icon-check-box;
  }
}
.icon-angle-double-down {
  &:before {
    content: $icon-angle-double-down;
  }
}
.icon-angle-double-up {
  &:before {
    content: $icon-angle-double-up;
  }
}
.icon-angle-double-right {
  &:before {
    content: $icon-angle-double-right;
  }
}
.icon-angle-double-left {
  &:before {
    content: $icon-angle-double-left;
  }
}
.icon-angles-left-solid {
  &:before {
    content: $icon-angles-left-solid;
  }
}
.icon-angles-up-solid {
  &:before {
    content: $icon-angles-up-solid;
  }
}
.icon-angles-down-solid {
  &:before {
    content: $icon-angles-down-solid;
  }
}
.icon-angles-right-solid {
  &:before {
    content: $icon-angles-right-solid;
  }
}
.icon-login {
  &:before {
    content: $icon-login;
  }
}
.icon-fonticons {
  &:before {
    content: $icon-fonticons;
  }
}
.icon-user-o {
  &:before {
    content: $icon-user-o;
  }
}
.icon-sign-out {
  &:before {
    content: $icon-sign-out;
  }
}
.icon-sign-in {
  &:before {
    content: $icon-sign-in;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-sort-alpha-asc {
  &:before {
    content: $icon-sort-alpha-asc;
  }
}
.icon-sort-alpha-desc {
  &:before {
    content: $icon-sort-alpha-desc;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-exchange {
  &:before {
    content: $icon-exchange;
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download;
  }
}
.icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload;
  }
}
.icon-paper-clip {
  &:before {
    content: $icon-paper-clip;
  }
}
.icon-cut {
  &:before {
    content: $icon-cut;
  }
}
.icon-copy-files-o {
  &:before {
    content: $icon-copy-files-o;
  }
}
.icon-check-square-o {
  &:before {
    content: $icon-check-square-o;
  }
}
.icon-square-o {
  &:before {
    content: $icon-square-o;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-power-off {
  &:before {
    content: $icon-power-off;
  }
}
.icon-signal {
  &:before {
    content: $icon-signal;
  }
}
.icon-list-alt {
  &:before {
    content: $icon-list-alt;
  }
}
.icon-flag-lg {
  &:before {
    content: $icon-flag-lg;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-star-o {
  &:before {
    content: $icon-star-o;
  }
}
.icon-toggle-off {
  &:before {
    content: $icon-toggle-off;
  }
}
.icon-toggle-on {
  &:before {
    content: $icon-toggle-on;
  }
}
.icon-black-tie {
  &:before {
    content: $icon-black-tie;
  }
}
.icon-rub {
  &:before {
    content: $icon-rub;
  }
}
.icon-drivers-license {
  &:before {
    content: $icon-drivers-license;
  }
}
.icon-drivers-license-o {
  &:before {
    content: $icon-drivers-license-o;
  }
}
.icon-truck {
  &:before {
    content: $icon-truck;
  }
}
.icon-wrench {
  &:before {
    content: $icon-wrench;
  }
}
.icon-magic {
  &:before {
    content: $icon-magic;
  }
}
.icon-tasks {
  &:before {
    content: $icon-tasks;
  }
}
.icon-table {
  &:before {
    content: $icon-table;
  }
}
.icon-users-tie {
  &:before {
    content: $icon-users-tie;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-cogs-gears {
  &:before {
    content: $icon-cogs-gears;
  }
}
.icon-cogs-gear {
  &:before {
    content: $icon-cogs-gear;
  }
}
.icon-cog-md {
  &:before {
    content: $icon-cog-md;
  }
}
.icon-cog-lg {
  &:before {
    content: $icon-cog-lg;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-folder-closed {
  &:before {
    content: $icon-folder-closed;
  }
}
.icon-folder-open {
  &:before {
    content: $icon-folder-open;
  }
}
.icon-folder-closed-o {
  &:before {
    content: $icon-folder-closed-o;
  }
}
.icon-folder-open-o {
  &:before {
    content: $icon-folder-open-o;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-expeditedssl {
  &:before {
    content: $icon-expeditedssl;
  }
}
.icon-window-close {
  &:before {
    content: $icon-window-close;
  }
}
.icon-visa {
  &:before {
    content: $icon-visa;
  }
}
.icon-mastercard {
  &:before {
    content: $icon-mastercard;
  }
}
.icon-discover {
  &:before {
    content: $icon-discover;
  }
}
.icon-amex {
  &:before {
    content: $icon-amex;
  }
}
.icon-pay-pal {
  &:before {
    content: $icon-pay-pal;
  }
}
.icon-stripe {
  &:before {
    content: $icon-stripe;
  }
}
.icon-compress {
  &:before {
    content: $icon-compress;
  }
}
.icon-hand-grab-o {
  &:before {
    content: $icon-hand-grab-o;
  }
}
.icon-hand-paper-o {
  &:before {
    content: $icon-hand-paper-o;
  }
}
.icon-hand-scissors-o {
  &:before {
    content: $icon-hand-scissors-o;
  }
}
.icon-hand-lizard-o {
  &:before {
    content: $icon-hand-lizard-o;
  }
}
.icon-hand-spock-o {
  &:before {
    content: $icon-hand-spock-o;
  }
}
.icon-hand-pointer-o {
  &:before {
    content: $icon-hand-pointer-o;
  }
}
.icon-hand-peace-o {
  &:before {
    content: $icon-hand-peace-o;
  }
}
.icon-hand-shake {
  &:before {
    content: $icon-hand-shake;
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down;
  }
}
.icon-css3 {
  &:before {
    content: $icon-css3;
  }
}
.icon-resistance {
  &:before {
    content: $icon-resistance;
  }
}
.icon-fire-resistance {
  &:before {
    content: $icon-fire-resistance;
  }
}
.icon-bookmark-lg {
  &:before {
    content: $icon-bookmark-lg;
  }
}
.icon-bookmark-o {
  &:before {
    content: $icon-bookmark-o;
  }
}
