.icon-svg--phone-icon-dim {
    width: 17px;
    height: 18px;
}

.icon-svg--professional-info-icon-dim {
    width: 24px;
    height: 25px;
}

.icon-svg--vue-js-dim {
    width: 1024px;
    height: 1024px;
}

