$icon-font-family: 'icons-set' !default;
$icon-font-path: '../fonts' !default;
$icon-gulp: '\e951';
$icon-javascript: '\e952';
$icon-java: '\e953';
$icon-vue-dot-js: '\e954';
$icon-node-dot-js: '\e955';
$icon-document-file-java: '\e956';
$icon-document-file-java1: '\e957';
$icon-file-java: '\e958';
$icon-file-java1: '\e959';
$icon-money-bag: '\e919';
$icon-dollar-money: '\e91f';
$icon-dollars: '\e91a';
$icon-google-plus-sq: '\ea8c';
$icon-google-plus-circle: '\ea8d';
$icon-google-drive: '\ea8f';
$icon-telegram: '\ea95';
$icon-youtube: '\ea9d';
$icon-git-hub-circle: '\e921';
$icon-git-hub-square: '\e922';
$icon-fire-flame: '\e9aa';
$icon-linked-in: '\eaca';
$icon-linkedin-sq: '\eac9';
$icon-wikipedia1: '\eac8';
$icon-youtube-lg: '\ea9e';
$icon-vk: '\ea98';
$icon-jet-brains: '\e923';
$icon-twitter: '\ea96';
$icon-safari1: '\eadd';
$icon-google-circle: '\ea8a';
$icon-google-sq: '\ea89';
$icon-google: '\ea88';
$icon-git-hub: '\eaeb';
$icon-wikipedia: '\eacd';
$icon-hackernews: '\eac7';
$icon-reddit: '\eac6';
$icon-skype: '\eac5';
$icon-soundcloud-square: '\eac4';
$icon-soundcloud: '\eac3';
$icon-windows: '\eac1';
$icon-android: '\eac0';
$icon-finder: '\eabf';
$icon-appleinc: '\eabe';
$icon-tux: '\eabd';
$icon-yahoo2: '\eabc';
$icon-yahoo: '\eabb';
$icon-tumblr2: '\eaba';
$icon-tumblr: '\eab9';
$icon-opera: '\eade';
$icon-safari: '\eae0';
$icon-edge: '\eadc';
$icon-IE: '\eae4';
$icon-firefox: '\eada';
$icon-chrome: '\ead9';
$icon-paypal: '\ead8';
$icon-npm: '\eab1';
$icon-onedrive: '\eaaf';
$icon-dropbox: '\eaae';
$icon-steam2: '\eaad';
$icon-steam: '\eaac';
$icon-currency-dollar: '\e918';
$icon-coin-dollar: '\e940';
$icon-community: '\e901';
$icon-consultancy: '\e902';
$icon-consulting: '\e90c';
$icon-terminal: '\ea81';
$icon-share-social: '\ea82';
$icon-mail-contact: '\ea83';
$icon-mail-circle: '\ea86';
$icon-mail: '\e93d';
$icon-whatsapp: '\ea93';
$icon-html-five-o: '\eae5';
$icon-lock-secure: '\e98f';
$icon-unlocked: '\e990';
$icon-power-cord: '\e9b7';
$icon-download: '\e9c5';
$icon-upload: '\e9c6';
$icon-download-save: '\e9c7';
$icon-up-load: '\e9c8';
$icon-sphere-globe: '\e9c9';
$icon-link-chain: '\e9cb';
$icon-flag: '\e9cc';
$icon-en-large: '\e989';
$icon-en-small: '\e98a';
$icon-expand-collapse: '\e98b';
$icon-shrink-collapse: '\e98c';
$icon-bubble-comment: '\e96b';
$icon-bubbles-comments-t: '\e96c';
$icon-bubbles-comments-f: '\e96d';
$icon-bubble-comment-l: '\e96e';
$icon-bubbles-comments-lb: '\e96f';
$icon-bubbles-comments-lbf: '\e970';
$icon-quotes-left: '\e977';
$icon-quotes-right: '\e978';
$icon-spinner-loading: '\e97a';
$icon-spinner-loading-2: '\e97b';
$icon-spinner-loading-3: '\e97c';
$icon-spinner-loading-4: '\e97d';
$icon-spinner-loading-6: '\e97f';
$icon-spinner-loading-7: '\e980';
$icon-spinner-loading-8: '\e981';
$icon-spinner-loading-9: '\e982';
$icon-spinner-loading-10: '\e983';
$icon-spinner-loading-11: '\e984';
$icon-folder-download: '\e933';
$icon-folder-upload: '\e934';
$icon-folder-directory: '\e92f';
$icon-folder-open-directory: '\e930';
$icon-folder-plus: '\e931';
$icon-folder-minus: '\e932';
$icon-enter-signin: '\ea41';
$icon-exit-signout: '\ea42';
$icon-tree-branches: '\e9be';
$icon-tree1: '\e9bf';
$icon-droplet: '\e90b';
$icon-image: '\e90d';
$icon-images: '\e90e';
$icon-head-phones: '\e910';
$icon-video: '\e913';
$icon-connection-wifi: '\e91b';
$icon-podcast: '\e91c';
$icon-feed-wave: '\e91d';
$icon-mic: '\e91e';
$icon-credit-card: '\e93f';
$icon-zoom-in: '\e987';
$icon-zoom-out: '\e988';
$icon-equalizer: '\e993';
$icon-switch: '\e9b6';
$icon-clipboard: '\e9b8';
$icon-contrast: '\e9d5';
$icon-heart-like: '\e9da';
$icon-heart-broken: '\e9db';
$icon-point-up: '\ea03';
$icon-point-right: '\ea04';
$icon-point-down: '\ea05';
$icon-point-left: '\ea06';
$icon-play: '\ea15';
$icon-pause: '\ea16';
$icon-stop: '\ea17';
$icon-previous: '\ea18';
$icon-next: '\ea19';
$icon-backward: '\ea1a';
$icon-forward: '\ea1b';
$icon-play-1: '\ea1c';
$icon-pause-1: '\ea1d';
$icon-stop-1: '\ea1e';
$icon-backward-1: '\ea1f';
$icon-forward-1: '\ea20';
$icon-first-1: '\ea21';
$icon-last-1: '\ea22';
$icon-previous-1: '\ea23';
$icon-next-1: '\ea24';
$icon-eject-1: '\ea25';
$icon-volume-high-1: '\ea26';
$icon-volume-medium-1: '\ea27';
$icon-volume-low-1: '\ea28';
$icon-volume-mute-2: '\ea29';
$icon-volume-mute-1: '\ea2a';
$icon-volume-increase-1: '\ea2b';
$icon-volume-decrease-1: '\ea2c';
$icon-loop-repeat: '\ea2d';
$icon-repeat: '\ea2e';
$icon-infinite: '\ea2f';
$icon-shuffle-random: '\ea30';
$icon-paragraph-left: '\ea77';
$icon-paragraph-center: '\ea78';
$icon-paragraph-right: '\ea79';
$icon-paragraph-justify: '\ea7a';
$icon-indent-increase: '\ea7b';
$icon-indent-decrease: '\ea7c';
$icon-amazon: '\ea87';
$icon-html-five: '\eae9';
$icon-rss: '\ea9b';
$icon-rss-sq: '\ea9c';
$icon-file-word: '\eae1';
$icon-file-excel: '\eae2';
$icon-libreoffice: '\eae3';
$icon-bookmark: '\e9d2';
$icon-bookmarks: '\e9d3';
$icon-tags-black: '\e90a';
$icon-tags: '\e909';
$icon-price-tag: '\e935';
$icon-price-tags: '\e936';
$icon-forward-right: '\e969';
$icon-forward-left: '\e96a';
$icon-user: '\e93c';
$icon-user-profile: '\e971';
$icon-users-group: '\e972';
$icon-user-plus: '\e973';
$icon-user-minus: '\e974';
$icon-user-check: '\e975';
$icon-user-tie: '\e976';
$icon-books-library: '\e920';
$icon-man: '\e9dc';
$icon-woman: '\e9dd';
$icon-man-woman: '\e9de';
$icon-home: '\e906';
$icon-bird-house: '\e907';
$icon-home-dark: '\e908';
$icon-list-number: '\e9bc';
$icon-list-bullet: '\e945';
$icon-list-todo: '\e9bd';
$icon-warning: '\ea35';
$icon-notification: '\ea36';
$icon-information: '\ea3a';
$icon-question-help: '\ea37';
$icon-cancel-circle: '\ea3b';
$icon-blocked: '\ea3c';
$icon-plus: '\ea38';
$icon-minus: '\ea39';
$icon-cancel: '\ea3d';
$icon-check-mark-d: '\ea3e';
$icon-check-mark: '\ea3f';
$icon-spell-check: '\ea40';
$icon-search: '\e92e';
$icon-phon: '\e937';
$icon-phon-call: '\e947';
$icon-cart-purchase: '\e93a';
$icon-trash: '\e938';
$icon-bin-black: '\e9af';
$icon-bin-trashcan: '\e9ae';
$icon-cart: '\e943';
$icon-cart-circle: '\e941';
$icon-calendar: '\e939';
$icon-compare: '\e912';
$icon-arrow-select: '\e93e';
$icon-grid: '\e942';
$icon-cross-middle: '\e944';
$icon-check-box: '\e946';
$icon-angle-double-down: '\e948';
$icon-angle-double-up: '\e949';
$icon-angle-double-right: '\e94a';
$icon-angle-double-left: '\e94b';
$icon-angles-left-solid: '\e94c';
$icon-angles-up-solid: '\e94d';
$icon-angles-down-solid: '\e94e';
$icon-angles-right-solid: '\e94f';
$icon-login: '\e968';
$icon-fonticons: '\f280';
$icon-user-o: '\e911';
$icon-sign-out: '\e916';
$icon-sign-in: '\e917';
$icon-angle-left: '\f104';
$icon-angle-right: '\f105';
$icon-angle-up: '\f106';
$icon-angle-down: '\f107';
$icon-file: '\e914';
$icon-file-text: '\e915';
$icon-sort-alpha-asc: '\f15d';
$icon-sort-alpha-desc: '\f15e';
$icon-save: '\f0c7';
$icon-exchange: '\f0ec';
$icon-cloud-download: '\f0ed';
$icon-cloud-upload: '\f0ee';
$icon-paper-clip: '\f0c6';
$icon-cut: '\f0c4';
$icon-copy-files-o: '\f0c5';
$icon-check-square-o: '\f046';
$icon-square-o: '\f096';
$icon-phone: '\f095';
$icon-power-off: '\f011';
$icon-signal: '\f012';
$icon-list-alt: '\f022';
$icon-flag-lg: '\f024';
$icon-star: '\f005';
$icon-star-o: '\f006';
$icon-toggle-off: '\f204';
$icon-toggle-on: '\f205';
$icon-black-tie: '\f27e';
$icon-rub: '\f159';
$icon-drivers-license: '\f2c2';
$icon-drivers-license-o: '\f2c3';
$icon-truck: '\f0d1';
$icon-wrench: '\f0ad';
$icon-magic: '\f0d0';
$icon-tasks: '\f0ae';
$icon-table: '\f0ce';
$icon-users-tie: '\e90f';
$icon-envelope: '\f003';
$icon-cogs-gears: '\e995';
$icon-cogs-gear: '\f085';
$icon-cog-md: '\f013';
$icon-cog-lg: '\e994';
$icon-globe: '\e903';
$icon-folder-closed: '\f07b';
$icon-folder-open: '\f07c';
$icon-folder-closed-o: '\f116';
$icon-folder-open-o: '\f117';
$icon-book: '\f02d';
$icon-expeditedssl: '\f23e';
$icon-window-close: '\f2d3';
$icon-visa: '\f1f0';
$icon-mastercard: '\f1f1';
$icon-discover: '\f1f2';
$icon-amex: '\f1f3';
$icon-pay-pal: '\f1f4';
$icon-stripe: '\f1f5';
$icon-compress: '\f066';
$icon-hand-grab-o: '\f255';
$icon-hand-paper-o: '\f256';
$icon-hand-scissors-o: '\f257';
$icon-hand-lizard-o: '\f258';
$icon-hand-spock-o: '\f259';
$icon-hand-pointer-o: '\f25a';
$icon-hand-peace-o: '\f25b';
$icon-hand-shake: '\f2b5';
$icon-thumbs-up: '\f087';
$icon-thumbs-down: '\f088';
$icon-css3: '\e900';
$icon-resistance: '\e904';
$icon-fire-resistance: '\e905';
$icon-bookmark-lg: '\f02e';
$icon-bookmark-o: '\f097';
