// todo -------------------------- Variables -----------------------------------
@import 'core/variables';
// @import 'core/variables-icon';
// todo --------------------------- Mixins -------------------------------------
@import 'core/mixins';
// @import 'core/extend';
//todo ------------------------- Default fonts ---------------------------------
// &display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,400,500,700&display=swap&subset=cyrillic-ext);
// todo --------------------------- Fonts --------------------------------------
@import 'core/fonts';
//todo  ------------------------ Icon Fonts ------------------------------------
// @import 'core/iconfonts';
// todo ------------------------ Reset code ------------------------------------
@import 'core/reset';

// todo ---------------------------- Ui ----------------------------------------
// @import 'core/ui';
// todo -------------------------- Plugins -------------------------------------
// @import 'components/swiper'
// todo -------------------------- Classes -------------------------------------
// #region
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	// max-width: $maxWidth;
	min-height: 100vh;
	margin: 0 auto;
	box-shadow: 0px 25px 25px rgba(13, 8, 8, 0.9333333333);
}

[class*='_container'] {
	/* border: groove; */
	box-sizing: content-box;
	max-width: $maxWidthContainer;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

[class*='grid-'] {
	display: grid;
}

[class*='icon-'] {
	display: flex;
}

[class*='_stretch'] {
	position: relative;
	z-index: 0;
	// min-height: calc(100vh - ($headerHeight + $footerHeight));
}

@import url('https://fonts.googleapis.com/css?family=Play:regular,700&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext');
@import 'bem-block/main.scss';
@import 'bem-block/title';
@import 'bem-block/news';
// -----------------------------------------------------------------------------